from typing import ClassVar

{% for import_line in imports -%}
{{ import_line }}
{% endfor -%}
from rest_framework import serializers


class {{ model_name }}NangoSerializer(serializers.ModelSerializer):
    """."""

    class Meta:
        model = {{ model_name }}
        fields: ClassVar[list[str]] = [
            {% for field_name in simple.field_names_list -%}
            "{{ field_name }}",
            {% endfor -%}
        ]
        read_only_fields: ClassVar[list[str]] = [
        {% if "id" in simple.field_names_list -%}
            "id",
        {% endif -%}
        ]
        write_only_fields: ClassVar[list[str]] = []


