{% for import_type in imports %}
import { {{ import_type }} } from './{{ import_type }}';
{% endfor %}
export type {{ type_name }} = {
  {% for name, ts_type in fields.items() -%}
  {{ name }}: {{ ts_type }};
  {% endfor %}};